@import 'variables';

.carousel {
  &__contentContainer {
    position: relative;
    width: 620px;
    height: 310px;
    padding: 9px;
    border: 1px solid $themeBlack;
  }

  &__slide {
    position: absolute;
    width: 600px;
    height: 290px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s;

    &--isActive {
      visibility: visible;
      opacity: 1;
    }
  }

  &__slideImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $themeWhite;

    p {
      font-size: 3.2rem;
    }

    &--1 {
      background: #faa;
    }

    &--2 {
      background: #afa;
    }

    &--3 {
      background: #aaf;
    }
  }
}
