@import 'variables';

.dropdown {
  &__container {
    height: 200px;
  }

  &__menu {
    display: flex;

    &Column {
      position: relative;

      &Label {
        width: 200px;
        margin-right: 10px;
        padding: 10px;
        color: $themeWhite;
        background: $themeBlack;
      }
    }
  }

  &__itemList {
    position: absolute;
    display: none;
    list-style: none;

    &--isActive {
      display: block;
    }
  }

  &__item {
    width: 200px;
    padding: 10px;
    border: 1px solid $themeBlack;
    border-top: none;
    transition: $animeFast;

    &:hover {
      color: $themeWhite;
      background: $themeBlack;
    }
  }
}
