@import 'variables';

.dropdown {
  &__container {
    height: 200px;
  }

  &__menu {
    display: flex;

    &Column {
      position: relative;
      margin-right: 10px;

      &Label {
        padding: 10px;
      }
    }
  }

  &__itemList {
    position: absolute;
    display: none;
    list-style: none;

    &--isActive {
      display: block;
    }

    :hover {
      color: $themeBlack;
      background: $themeWhite;
    }
  }

  &__item {
    padding: 10px;
    transition: $animeFast;
  }
}
