.header {
  z-index: $zHeader;
  display: flex;
  justify-content: center;
  padding: 8px 0;
  color: $colorWhite;
  background: $colorBlack;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $contentWidth;
  }
}

.hamburger {
  width: 24px;
  cursor: pointer;

  &__line {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background: $colorWhite;
    transition: transform $animationFast, opacity $animationFast;

    &:not(:first-child) {
      margin-top: 2px;
    }
  }

  &--active {
    .hamburger__line {
      &:first-child {
        transform: translateY(2px) rotate(135deg);
      }

      &:last-child {
        transform: translateY(-2px) rotate(-135deg);
      }
    }
  }
}
