@import 'variables';

/*
  ローディング（というか、最初に表示される画面）
*/

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: $themeWhite;
  transition: opacity 1s, visibility 1s;

  &__logo {
    color: $themeBlack;
    font-weight: bold;
    font-size: 4rem;
  }

  &--isHide {
    visibility: hidden;
    opacity: 0;
  }
}
