@import 'variables';

.pageTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  color: $themeWhite;
  background: $themeBlack;
  border-radius: 50%;

  p {
    font-size: 4rem;
  }
}
