@import 'variables';

/*
汎用
*/

body {
  margin-bottom: 100px;
}

body * {
  font-size: 1.6rem;
}

.section {
  margin-top: 100px;
}

.heading2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.isFixed {
  overflow: hidden;
}

.container {
  width: $contentWidth;
  margin: 0 auto;
}

.button {
  color: $themeBlack;
  border: 1px solid $themeGray;
  transition: 0.2s;

  &:hover {
    color: $themeWhite;
    background: $themeBlack;
    border: 1px solid $themeBlack;
  }
}
