@import 'variables';
@import 'header';
@import 'main';
@import 'section';
@import 'dropdown';
@import 'accordion';
@import 'tab';
@import 'modal';
@import 'carousel';

html {
  color: $colorBlack;
  font-size: 62.5%;
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  line-height: 1;
  background: $colorWhite;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body * {
  font-size: 1.6rem;
}

p {
  line-height: 1.5;
}

.fixed {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
}
