@import 'variables';
@import 'header';
@import 'hamburger';
@import 'dropdown';
@import 'todo';
@import 'tab';
@import 'modal';
@import 'carousel';
@import 'loading';

/*
初期化
*/

html {
  color: $themeBlack;
  font-size: 62.5%;
  font-family: 'Noto Sans JP', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body * {
  font-size: 1.6rem;
}

/*
汎用
*/

.section {
  margin: 100px 0;

}

.heading2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.isFixed {
  overflow: hidden;
}

.container {
  width: $contentWidth;
  margin: 0 auto;
}

.button {
  color: $themeBlack;
  border: 1px solid $themeBlack;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: $themeWhite;
    background: $themeBlack;
  }
}
