@import 'header';
@import 'hamburger';
@import 'dropdown';
@import 'todo';
@import 'tab';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');

/*
初期化
*/

html {
  color: $themeBlack;
  font-size: 62.5%;
  font-family: 'Noto Sans JP', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
